.banner {
    background-image: linear-gradient(rgba(28, 25, 25, 0.6), rgba(42, 39, 39, 0.8)),
        url('../image/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.text{
    position: relative;
    color: white;
    padding-right:10%;
    margin-top: 10%;
    margin-left:5%;
}
.form-input{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    position:relative;
    background-color: rgba(255, 255, 255, 1);
    right: -10%;
    margin-top: 5%;
    border-radius:  5% ;
    width: 40%;
    
}
.isi{
    min-height: 90%;
    padding-top: 10%;
    bottom: 0%;
    padding-bottom: 10%;
}
.img-home{
    position: relative;
    background-image: linear-gradient(rgba(22, 2, 2, 0.6), rgba(42, 39, 39, 0.8)),
        url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    padding-left: 15%;
    padding-top: 10%;
}
.text-gambar{
    position: relative;
    border: 10px solid;
    color: white;
    width: 20%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}

